@import url('https://fonts.googleapis.com/css2?family=Barlow:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    box-sizing: border-box;
}

body {
    /* min-height: 100vh; */
}

.header {
    display: flex;
    justify-content: space-between;
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 24px;
    align-items: center;
    margin-bottom: 64px;
}

.pre-order-header {
    background-color: #E8EFF2;
    padding: 12px;
    text-decoration: none;
    color: #162542;
    border-radius: 8px;
    font-family: "Barlow", sans-serif;
    line-height: 26px;
    font-size: 16px;
    font-weight: 700;
}

.informations {
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 64px;
}

.informations h1 {
    color: #162542;
    font-family: "Barlow", sans-serif;
    font-weight: 900;
    font-size: 48px;
    line-height: 48px;
}

.informations-paragraph {
    color: #7B8BAD;
    font-weight: 500;
    font-family: "Barlow", sans-serif;
    font-size: 16px;
    line-height: 26px;
}

.informations-complement {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 32px;
}

.informations-pre-order {
    padding: 12px;
    background-color: #F16718;
    border-radius: 8px;
    color: white;
    text-decoration: none;
    font-family: "Barlow", sans-serif;
    font-weight: 700;
    font-size: 16px;
    line-height: 26px;
}

.informations-relase-date {
    font-family: "Barlow", sans-serif;
    font-weight: 700;
    font-size: 16px;
    line-height: 26px;
    color: #7B8BAD;
    margin-right: 42px;
}

.content-images {
    text-align: right;
}

.keyboard-image {
    width: 95%;
    margin-left: 24px;
    border-radius: 8px 0px 0px 8px;
    margin-bottom: 24px;
}

.aligned-images {
    display: flex;
    justify-content: space-between;
}



.keyboard-presentation {
    width: 90%;
    margin-right: auto;
    margin-left: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.svg-icon {
    background-color: #F16718;
    height: 65px;
    width: 65px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 16px;
}
.mechanical-wireless {
    font-family: "Barlow", sans-serif;
    color: #162542;
    font-weight: 900;
    font-size: 32px;
    line-height: 36px;
    text-transform: uppercase;
}